.cart {
  text-align: center;
}

.cart h2 {
  text-align: center;
  padding: 20px;
  color: darkblue;
  font-size: 40px;
}
.cart .info-parent {
}
.cart .prod {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}
.cart .prod .img-parent {
  max-width: 50px;
}
.card .prod .img-parent{
  object-fit: cover;
}
.cart .prod .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .prod .quantity .sp {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: blue;
}
.btns-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .info {
  display: flex;
  justify-content: space-around;
}

.clear-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear {
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  width: 300px;
  background-color: rgba(0, 0, 139, 0.521);
  color: white;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  font-weight: bold;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 139, 0.712);
  color: white;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media only screen and (min-width: 601px){
  .el-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
}
@media only screen and (max-width: 600px) {
  .cart .prod {
    display: flex;
    flex-direction: column;
  }
  .cart .info-parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex h3 {
    margin-right: 10px;
  }
  .cart .prod .img-parent {
    max-width: 200px;
  }
  .el-top {
    margin-top: 5px;
  }
}

