.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #aeaefa;
  text-decoration: none;
}
.icon-parent {
}
.navbar h4 {
  border-radius: 15px;
  padding: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-parent span {
  margin-left: 5px;
}
a:visited {
  color: black;
}
.cart-icon,
.mobile-icon {
  margin-right: 4px;
  font-size: 18px;
}
